{
    "check-coverage": true,
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "cache": true,
    "exclude": [
        "src/swaggerConfig.ts",
        "**/index.ts",
        "src/utils/errors/**",
        "coverage/**",
        "src/@types/**",
        "src/app.ts",
        "src/server.ts",
        "src/docs",
        "src/routes"
    ],
    "watermarks": {
        "functions": [
            70,
            70
        ],
        "statements": [
            70,
            70
        ]
    }
}
